h3 {
  text-align: center;
}

h1 {
  font-size: 48px;
  font-weight: 800;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

p {
  line-height: 1.4rem;
  font-size: 1.1rem;
  font-weight: 400;
}

a {
  font-size: 1.2rem;
}

h1,
h2,
h2,
h3 {
  color: #14293a;
}

/* Home Page top section */
.home-title-slogan {
  margin: 20px 10px;
  text-align: center;
}

.home-top-section-slogan {
  margin-top: 5px;
  font-size: 10px;
}

.home-top-image,
.home-top-description,
.home-blog-section-image {
  width: 90%;
  margin: 5px 10px;
  border-radius: 10px;
  max-height: 600px;
}

.latest-posts-wrapper {
  border-radius: 10px;
  margin: 10px 20px;
  width: 100%;
}

.home-top-section,
.home-blog-section,
.fitness-blog-image-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-blog-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.home-top-description,
.blog-div-description-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  max-width: 800px;
}

.blog-div-description-button {
  margin: 0 10px;
}

.latest-posts-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 15px 10px;
}

.home-top-description-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-image-section-seperator {
  width: 100%;
  max-height: 650px;
  filter: brightness(30%);
}

.home-blog-section-image {
  margin: 20px 10px;
  max-width: 800px;
}

.seperator-div {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 20px 0;
}

.seperator-div-quote {
  display: none;
}

.latest-posts-text {
  margin-bottom: gap;
}

/* Latest blogs Carousel */
.latest-posts-carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  transition: transform 0.5s ease-in-out;
  max-width: 950px;
}

.next-button {
  display: none;
}

.prev-button {
  display: none;
}

.carousel-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.carousel-wrapper::-webkit-scrollbar {
  display: none;
}

.latest-posts-carousel {
  display: flex;
  overflow: scroll;
  transition: transform 0.5s ease-in-out;
  gap: 20px;
}

@media (min-width: 1054px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 32px;
  }

  p {
    line-height: 1.5rem;
  }

  .latest-posts-carousel {
    overflow: hidden;
  }

  .prev-button {
    display: block;
    margin-right: 20px;
    cursor: pointer;
    font-size: 25px;
  }

  .next-button {
    display: block;
    margin-left: 20px;
    cursor: pointer;
    font-size: 25px;
  }

  .home-top-description-image,
  .fitness-blog-image-description {
    flex-direction: row-reverse;
    margin-bottom: 20px;
  }

  .fitness-blog-image-description > * {
    flex: 1;
  }

  .home-image-section-seperator {
    flex: 0.5;
  }

  .seperator-div {
    min-height: 500px;
  }

  .seperator-div-quote {
    display: block;
    background-color: rgba(3, 5, 7, 0.92);
    flex: 0.5;
    color: #b6b7b6;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .seperator-div-quote h4 {
    font-size: 20px;
    font-weight: 600;
    max-width: 300px;
    line-height: 30px;
  }
}

@media (min-width: 1360px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 40px;
  }

  p {
    line-height: 1.8rem;
    font-size: 1.2rem;
  }

  .latest-posts-carousel {
    max-width: 1270px;
  }

  .home-image-section-seperator {
    max-height: 800px;
  }
}
