h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 80px;
}

p, a {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif
}

a, ul, li {
  text-decoration: none;
  list-style: none;
  color: black;
}

p {
  margin: 0;
}

.overlay{
  position: fixed;
  display: none;
  background-color: rgba(0,0,0,0.8);
  left: 0;
  right: 0;
  top: 60px;
  width: 100%;
  height: 100%;
  z-index: 99;
  transition: 300ms;
}

.overlay-opn{
  display: block;
}

/* Header */
header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  background: #14293a;
  z-index: 1000;
}

nav li a {
  color: #14293a;
  font-size: 1.4rem;
}

header nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  position: absolute;
  color: white;
  transform: translateX(100%);
  transition: transform 300ms ease-in;
  background: #99abc1;
  top: 80px;
  right: 0;
  width: 200px;
  z-index: 100;
}

.header-logo,
.footer-logo {
  position: relative;
  width: 120px;
  height: auto;
  margin-left: 10px;
  display: block;
}

.burger-menu {
  display: block;
  cursor: pointer;
  margin-right: 5px;
}

.burger-menu div {
  width: 25px;
  height: 3px;
  background-color: #b7b8b8;
  margin: 5px;
  transition: all 300ms ease;
  pointer-events: none;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-active {
  transform: translateX(0%);
}

header nav ul {
  padding: 0;
  margin: 0;
}

header nav li {
  font-size: 0.9em;
  padding: 10px 0 0 5px;
}

header nav a {
  display: block;
  padding: 0 0 20px;
  font-weight: bold;
}

footer {
  height: 100px;
  background: #14293a;
  color: #b7b8b8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

footer h4 {
  font-size: 28px;
  font-weight: 600;
}

footer p {
  font-size: 14px;
  font-weight: 300;
}

@media (min-width: 1034px) {
  /* Header */
  .burger-menu {
    display: none;
  }

  header nav {
    position: relative;
    top: 0;
    right: 0;
    background: #14293a;
    transform: none;
    width: 100%;
    align-items: end;
    margin-right: 40px;
  }

  header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  header nav li {
    display: inline-block;
    padding: 0;
    font-size: 18px;
  }

  header nav li:hover {
    text-decoration: underline;
    color: #d5d4cf;
  }

  header nav a {
    color: #d5d4cf;
    padding: 0 5px;
  }
}
