.blog-list-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.blog-list-section-title {
  margin: 20px 0 10px 0;
  text-align: center;
  font-size: 38px;
}

.blog-list-section-paragraph {
  margin: 0 10px;
  max-width: 800px;
  font-size: 18px;
  line-height: 28px;
}

.blog-list {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 20px;
  max-width: 1350px;
  transition: transform 0.5s ease-in-out;
  margin: 20px;
  justify-content: center;
}

.contact-here {
  color: #14293a;
  font-weight: 600;
  text-decoration: underline;
}

.show-more-button {
  background: none;
  border: none;
  color: #14293a;
  text-decoration: underline;
  cursor: pointer;
  font-size: 18px;
  width: 300px;
  text-align: left;
}

.search-bar-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  width: 280px;
}

.filter-bar {
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #d5d4cf;
  border-radius: 4px;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
  width: 100%;
  height: 25px;
  font-size: 16px;
}

.filter-bar:hover {
  background-color: #e9ecef;
}

.filter-bar:focus {
  border-color: #e9ecef;
  outline: none;
}
