:root {
  --primary-main-blue-color: #14293a;
  --header-font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  --body-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --main-button-color: #b8860b;
  --main-button-hover-color: #daa520;
  --main-button-font-size: 20px;
  --h1-mobile-font-size: 42px;
  --h2-mobile-font-size: 32px;
  --h1-desktop-font-size: 54px;
  --h2-desktop-font-size: 28px;
  --p-mobile-font-size: 18px;
  --p-desktop-font-size: 20px;
  --p-mobile-line-height: 28px;
  --p-desktop-line-height: 1.8rem;
}
